//- if(!release)
//    script(src="bower_components/ckeditor/ckeditor.js")
//- else
//    script(src="//cdn.ckeditor.com/4.5.7/standard/ckeditor.js")

script(src="bower_components/ckeditor/ckeditor.js")