
.grid .sort_updown {
	float: right;
	position: relative;
	width: 10px;
	display: block;
}

.grid .sort_up {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #337ab7;
	width: 0;
	height: 0;
	position: relative;
	margin-bottom: 5px;
	margin-top: 3px;
}

.grid .sort_up:hover {
	cursor: hand;
	cursor: pointer;
	opacity: .9;
}

.grid .sort_down {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #337ab7;
	width: 0;
	height: 0;
	position: relative;
	clear: left;;
	margin-top: 5px;
}

.grid .sort_down:hover {
	cursor: hand;
	cursor: pointer;
	opacity: .9;
}

.grid .grid_title {
	margin-left: 15px;
}

.grid .add_filter {
	display: block;
	float: right;
	position: relative;
	margin-right: 5px;
	color: #337ab7;
}

.grid .add_filter:hover {
	cursor: hand;
	cursor: pointer;
	opacity: .9;
}

.grid .grid_nav {
	margin-bottom: 7px;
}

.grid .grid_action {
	margin: 6px;
}

.grid .grid_action span {
	margin-right: 3px
} 

