div.modal-header
	h4(translate) Confirmation

div.modal-body
	p {{intro}}
	div.alerr.alert-danger(ng-bind-html="msg")

div.modal-footer
	button.btn.btn-primary(ng-click="si()" translate) Yes
	button.btn(ng-click="no()" translate) No