.row.footer.fixed_full
    .col-sm-12
        .col-sm-6
            div(ng-if="version" style="margin-top: 5px;")
                span Versión:&nbsp;
                b(ng-bind="version")
        .col-sm-6
            .pull-right
              a(href="http://www.mastercamping.com" target="_blank")
                h3
                    img(src="images/logo.png" style="height: 14px;margin-right:5px;")
                    span(style="color:#9e9ba2;") master
                    b(style="color: #5C4E3E;") camping