.middle-box.text-center.animated.fadeInDown
     h1 403
     h3.font-bold(translate) Unauthorized

     .error-desc
         p(translate) The server encountered something unexpected that didn't allow it to complete the request. We apologize.
         br
         p(translate) You can go back to main login:
         br
         a.btn.btn-primary.m-t(ng-click="logout()" translate) Login