.middle-box.text-center.animated.fadeInDown
    h1 408
    h3.font-bold(translate) Request timeout

    .error-desc
        p(translate) The server encountered something unexpected that didn't allow it to complete the request. We apologize.
        br
        p(translate) You can go back:
        br
        a.btn.btn-primary.m-t(translate onclick="history.back()") Back