nav.row.navbar.navbar-fixed-top(role='navigation' ng-if="principal.isAuthenticated()")
   .col-sm-8.col-xs-5
      .navbar-header
         span(minimaliza-sidebar='')
         img.logoHeader.hidden-xs(alt='image', src='/images/logo_blanc.png')
         // form.navbar-form-custom(role='search', method='post', action='')
               .form-group
                  input#top-search.form-control(type='text', placeholder='Search for something...', name='top-search')
   .col-sm-4.col-xs-7
      ul.nav.navbar-top-links.navbar-right
         li
            span.m-r-sm.text-muted.welcome-message(translate) Welcome to MasterASP Admin
         //li.dropdown(ng-if="principal.isAuthenticated()", uib-dropdown)
            a.dropdown-toggle.count-info(data-toggle="dropdown" href="#" aria-expanded="false")
               i.fa.fa-bell
               span.label.label-danger 8
            ul.dropdown-menu.dropdown-messages.animated.time02.fadeInDown
               li
                  div.dropdown-messages-box
                     a.pull-left(href="profile.html")
                        img.img-circle(alt="image" src="img/a7.jpg")
                     div.media-body
                        small.pull-right 46h ago
                        strong Mike Loreipsum
                        | started following
                        strong Monica Smith.
                        br
                        small.text-muted3 days ago at 7:58 pm - 10.06.2014
               li.divider
               li
                  div.dropdown-messages-box
                     a.pull-left(href="profile.html")
                        img.img-circle(alt="image" src="img/a4.jpg")
                     div.media-body
                        small.pull-right 5h ago
                        strong Chris Johnatan Overtunk
                        | >Monica Smith
                        strong Monica Smith.
                        br
                        small.text-muted3 Yesterday 1:21 pm - 11.06.2014
               li.divider
               li
                  div.dropdown-messages-box
                     a.pull-left(href="profile.html")
                        img.img-circle(alt="image" src="img/profile.jpg")
                     div.media-body
                        small.pull-right 23h ago
                        strong Monica Smith
                        | love
                        strong Kim Smith.
                        br
                        small.text-muted3 2 days ago at 2:30 am - 11.06.2014
               li.divider
               li
                  div.dropdown-messages-box
                     a.pull-left(href="profile.html")
                        img.img-circle(alt="image" src="img/a7.jpg")
                     div.media-body
                        small.pull-right 46h ago
                        strong Mike Loreipsum
                        | started following
                        strong Monica Smith.
                        br
                        small.text-muted3 days ago at 7:58 pm - 10.06.2014
               li.divider
               li
                  div.dropdown-messages-box
                     a.pull-left(href="profile.html")
                        img.img-circle(alt="image" src="img/a4.jpg")
                     div.media-body
                        small.pull-right 5h ago
                        strong Chris Johnatan Overtunk
                        | >Monica Smith
                        strong Monica Smith.
                        br
                        small.text-muted3 Yesterday 1:21 pm - 11.06.2014
               li.divider
               li
                  div.dropdown-messages-box
                     a.pull-left(href="profile.html")
                        img.img-circle(alt="image" src="img/profile.jpg")
                     div.media-body
                        small.pull-right 23h ago
                        strong Monica Smith
                        | love
                        strong Kim Smith.
                        br
                        small.text-muted3 2 days ago at 2:30 am - 11.06.2014
               li.divider
               li
                  div.dropdown-messages-box
                     a.pull-left(href="profile.html")
                        img.img-circle(alt="image" src="img/a7.jpg")
                     div.media-body
                        small.pull-right 46h ago
                        strong Mike Loreipsum
                        | started following
                        strong Monica Smith.
                        br
                        small.text-muted3 days ago at 7:58 pm - 10.06.2014
               li.divider
               li
                  div.dropdown-messages-box
                     a.pull-left(href="profile.html")
                        img.img-circle(alt="image" src="img/a4.jpg")
                     div.media-body
                        small.pull-right 5h ago
                        strong Chris Johnatan Overtunk
                        | >Monica Smith
                        strong Monica Smith.
                        br
                        small.text-muted3 Yesterday 1:21 pm - 11.06.2014
               li.divider
               li
                  div.dropdown-messages-box
                     a.pull-left(href="profile.html")
                        img.img-circle(alt="image" src="img/profile.jpg")
                     div.media-body
                        small.pull-right 23h ago
                        strong Monica Smith
                        | love
                        strong Kim Smith.
                        br
                        small.text-muted3 2 days ago at 2:30 am - 11.06.2014
               li.divider
               li
                  div.dropdown-messages-box
                     a.pull-left(href="profile.html")
                        img.img-circle(alt="image" src="img/a7.jpg")
                     div.media-body
                        small.pull-right 46h ago
                        strong Mike Loreipsum
                        | started following
                        strong Monica Smith.
                        br
                        small.text-muted3 days ago at 7:58 pm - 10.06.2014
               li.divider
               li
                  div.dropdown-messages-box
                     a.pull-left(href="profile.html")
                        img.img-circle(alt="image" src="img/a4.jpg")
                     div.media-body
                        small.pull-right 5h ago
                        strong Chris Johnatan Overtunk
                        | >Monica Smith
                        strong Monica Smith.
                        br
                        small.text-muted3 Yesterday 1:21 pm - 11.06.2014
               li.divider
               li
                  div.dropdown-messages-box
                     a.pull-left(href="profile.html")
                        img.img-circle(alt="image" src="img/profile.jpg")
                     div.media-body
                        small.pull-right 23h ago
                        strong Monica Smith
                        | love
                        strong Kim Smith.
                        br
                        small.text-muted3 2 days ago at 2:30 am - 11.06.2014
               li.divider
               li
                  div.dropdown-messages-box
                     a.pull-left(href="profile.html")
                        img.img-circle(alt="image" src="img/a7.jpg")
                     div.media-body
                        small.pull-right 46h ago
                        strong Mike Loreipsum
                        | started following
                        strong Monica Smith.
                        br
                        small.text-muted3 days ago at 7:58 pm - 10.06.2014
               li.divider
               li
                  div.dropdown-messages-box
                     a.pull-left(href="profile.html")
                        img.img-circle(alt="image" src="img/a4.jpg")
                     div.media-body
                        small.pull-right 5h ago
                        strong Chris Johnatan Overtunk
                        | >Monica Smith
                        strong Monica Smith.
                        br
                        small.text-muted3 Yesterday 1:21 pm - 11.06.2014
               li.divider
               li
                  div.dropdown-messages-box
                     a.pull-left(href="profile.html")
                        img.img-circle(alt="image" src="img/profile.jpg")
                     div.media-body
                        small.pull-right 23h ago
                        strong Monica Smith
                        | love
                        strong Kim Smith.
                        br
                        small.text-muted3 2 days ago at 2:30 am - 11.06.2014
         li.dropdown(ng-if="principal.isAuthenticated()", uib-dropdown)
            a.dropdown-toggle(href uib-dropdown-toggle)
               i.fa.fa-user.hidden-xs
               span {{principal.getIdUser()}}
               | &nbsp;
               i.fa.fa-angle-down
            ul.dropdown-menu.animated.time02.fadeInDown(role="menu")
               li
                  a( ui-sref="changePassword" )
                     i.fa.fa-exchange.hidden-xs
                     | &nbsp;
                     span(translate) Change password
               li
                  a( ng-click="logout()")
                     i.fa.fa-sign-out.hidden-xs
                     | &nbsp;
                     span(translate) Logout
         li(ng-if="!principal.isAuthenticated()", ui-sref-active="active")
            a( ui-sref="login") Login