nav.row.navbar.navbar-fixed-top(role='navigation' ng-if="principal.isAuthenticated()")
   .col-sm-7.col-xs-5
      .navbar-header
         span(minimaliza-sidebar='')
         img.logoHeader.hidden-xs(alt='image', src='/images/logo_blanc.png')
         // form.navbar-form-custom(role='search', method='post', action='')
               .form-group
                  input#top-search.form-control(type='text', placeholder='Search for something...', name='top-search')
   .col-sm-5.col-xs-7
      ul.nav.navbar-top-links.navbar-right
         li
            span.m-r-sm.text-muted.welcome-message(translate) Welcome to MasterCamping Admin
         li.dropdown(ng-if="principal.isAuthenticated()", uib-dropdown)
            a.dropdown-toggle.count-info(data-toggle="dropdown" href="#" aria-expanded="false")
               i.fa.fa-clock-o
               // span.label.label-danger 8
            ul.dropdown-menu.dropdown-messages.animated.time02.fadeInDown#actionHistory
         li.dropdown(ng-if="principal.isAuthenticated()", uib-dropdown)
            a.dropdown-toggle(href uib-dropdown-toggle)
               i.fa.fa-user.hidden-xs
               span {{principal.getIdUser()}}
               | &nbsp;
               i.fa.fa-angle-down
            ul.dropdown-menu.animated.time02.fadeInDown(role="menu")
               li
                  a( ui-sref="changePassword" )
                     i.fa.fa-exchange.hidden-xs
                     | &nbsp;
                     span(translate) Change password
               li
                  a( ng-click="logout()")
                     i.fa.fa-sign-out.hidden-xs
                     | &nbsp;
                     span(translate) Logout
         li(ng-if="!principal.isAuthenticated()", ui-sref-active="active")
            a( ui-sref="login") Login