script(type="text/ng-template", id="subMenu.html")
    a.dropdown-toggle(href="#", data-toggle="dropdown" ng-bind="subMenuItem.name")
    ul.dropdown-menu
        ss(ng-repeat-start="subMenuItem in subMenuItem.subMenu", )
        li(ng-if="! subMenuItem.subMenu", ui-sref-active="active")
            a(ng-if="!!subMenuItem.sref", ui-sref="{{subMenuItem.sref}}" ng-bind="subMenuItem.name")
            a(ng-if="!!subMenuItem.href", href="{{subMenuItem.href}}" ng-bind="subMenuItem.name")
            a(ng-if="!!subMenuItem.onClick", ng-click="subMenuItem.onClick()" ng-bind="subMenuItem.name")
        li.dropdown-submenu(ng-if="!!subMenuItem.subMenu", ng-include="'subMenu.html'")
        ss(ng-repeat-end)

div#mainDiv.container-fluid(ui-view)

- if(!release)
    script(src="bower_components/jquery/dist/jquery.js")
    script(src="bower_components/jquery-ui/jquery-ui.js")
    script(src="bower_components/angular/angular.js")
- else
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js")

script.
    (function() {
        var orig = angular.module;
        var modules = [];
        angular.module = function() {
            var args = Array.prototype.slice.call(arguments);
            if (arguments.length > 1) {
                modules.push(arguments[0]);
            }
            return orig.apply(null, args);
        }
        angular.element(document).ready(function() {
            angular.module('app', modules);
            angular.bootstrap(document, ['app']);
        });
    })();

- if(!release)
    script(src="bower_components/angular-ui-router/release/angular-ui-router.js")
    script(src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js")
    script(src="bower_components/underscore/underscore.js")
    script(src="bower_components/angular-sanitize/angular-sanitize.js")
    script(src="bower_components/bootstrap/dist/js/bootstrap.js")
    script(src="bower_components/angular-gettext/dist/angular-gettext.js")
- else
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-gettext/2.1.2/angular-gettext.min.js")


