script(type="text/ng-template", id="subMenu.html")
    a.dropdown-toggle(href="#", data-toggle="dropdown" ng-bind="subMenuItem.name")
    ul.dropdown-menu
        ss(ng-repeat-start="subMenuItem in subMenuItem.subMenu", )
        li(ng-if="! subMenuItem.subMenu", ui-sref-active="active")
            a(ng-if="!!subMenuItem.sref", ui-sref="{{subMenuItem.sref}}" ng-bind="subMenuItem.name")
            a(ng-if="!!subMenuItem.href", href="{{subMenuItem.href}}" ng-bind="subMenuItem.name")
            a(ng-if="!!subMenuItem.onClick", ng-click="subMenuItem.onClick()" ng-bind="subMenuItem.name")
        li.dropdown-submenu(ng-if="!!subMenuItem.subMenu", ng-include="'subMenu.html'")
        ss(ng-repeat-end)


div#mainDiv.container-fluid(ng-controller="MainCtrl")
    //nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
    nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
        .container-fluid
            .navbar-header
                button.navbar-toggle(type="button",data-toggle="collapse",data-target="#navbar")
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href=brandUrl)
                    img(src=brandLogo,style="margin-top:-7px;")

            .collapse.navbar-collapse(id="navbar")
                ul.nav.navbar-nav
                    ss(ng-repeat-start="subMenuItem in mainMenu")
                    li(ng-if="! subMenuItem.subMenu", ui-sref-active="active")
                        a(ng-if="!!subMenuItem.sref", ui-sref="{{subMenuItem.sref}}" ng-bind="subMenuItem.name")
                        a(ng-if="!!subMenuItem.href", href="{{subMenuItem.href}}" ng-bind="subMenuItem.name")
                        a(ng-if="!!subMenuItem.onClick", ng-click="subMenuItem.onClick()" ng-bind="subMenuItem.name")
                    li.root(ng-if="!!subMenuItem.subMenu")
                        a.dropdown-toggle(href="#", data-toggle="dropdown" ng-bind="subMenuItem.name")
                            b.caret
                        ul.dropdown-menu
                            ss(ng-repeat-start="subMenuItem in subMenuItem.subMenu", )
                            li(ng-if="! subMenuItem.subMenu", ui-sref-active="active")
                                a(ng-if="!!subMenuItem.sref", ui-sref="{{subMenuItem.sref}}" ng-bind="subMenuItem.name")
                                a(ng-if="!!subMenuItem.href", href="{{subMenuItem.href}}" ng-bind="subMenuItem.name")
                                a(ng-if="!!subMenuItem.onClick", ng-click="subMenuItem.onClick()" ng-bind="subMenuItem.name")
                            li.dropdown-submenu(ng-if="!!subMenuItem.subMenu", ng-include="'subMenu.html'")
                            ss(ng-repeat-end)
                    ss(ng-repeat-end)

                ul.nav.navbar-nav.navbar-right
                    li.dropdown(ng-if="principal.isAuthenticated()", dropdown)
                        a.dropdown-toggle(href, dropdown-toggle ng-bind="principal.getIdUser()")
                            span.caret
                        ul.dropdown-menu(role="menu")
                            li
                                a( ui-sref="changePassword", translate) Change password
                            li
                                a( ng-click="logout()", translate) Logout
                    li(ng-if="!principal.isAuthenticated()", ui-sref-active="active")
                        a( ui-sref="login") Login

    div#wrap.container-fluid(ui-view)

    //nav.navbar.navbar-inverse.navbar-fixed-bottom(role="navigation")
    nav.navbar.navbar-default.navbar-fixed-bottom.hidden-xs(role="navigation")
        .navbar-inner
            p.navbar-text Version: v
                span(ng-bind="version")
            p.navbar-text.pull-right
                a(href="http://www.masterasp.com")
                    img(src="images/logo_master.png")


- if(!release)
    script(src="bower_components/jquery/dist/jquery.js")
    script(src="bower_components/jquery-ui/jquery-ui.js")
    script(src="bower_components/angular/angular.js")
- else
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery-ui/1.11.4/jquery-ui.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js")

script.
    (function() {
        var orig = angular.module;
        var modules = [];
        angular.module = function() {
            var args = Array.prototype.slice.call(arguments);
            if (arguments.length > 1) {
                modules.push(arguments[0]);
            }
            return orig.apply(null, args);
        }
        angular.element(document).ready(function() {
            angular.module('app', modules);
            angular.bootstrap(document, ['app']);
        });
    })();

- if(!release)
    script(src="bower_components/angular-ui-router/release/angular-ui-router.js")
    script(src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js")
    script(src="bower_components/underscore/underscore.js")
    script(src="bower_components/angular-sanitize/angular-sanitize.js")
    script(src="bower_components/bootstrap/dist/js/bootstrap.js")
- else
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular-sanitize.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")

script(src="bower_components/angular-gettext/dist/angular-gettext.js")


