legend(translate) Change Password

form.form-horizontal(name="changePasswordForm")
   div.form-group
        label.col-sm-2.control-label(for="oldPassword", translate) Old Password
        div.col-sm-3
            input#oldPassword.form-control(name="newPassword", type="password", ng-model="credentials.oldPassword", required)

    div.form-group
        label.col-sm-2.control-label(for="newPassword", translate) New Password
        div.col-sm-3
            input#newPassword.form-control(name="newPassword", type="password", ng-model="credentials.newPassword", required)

    div.form-group
        label.col-sm-2.control-label(for="confirmNewPassword", translate) Confirm New Password
        div.col-sm-3
            input#confirmNewPassword.form-control(name="confirmNewPassword", type="password", ng-model="credentials.confirmNewPassword", required)

    div.form-group
        div.col-sm-offset-2.col-sm-10
            button.btn.btn-primary(type="submit", ng-enter="changePassword", ng-click="changePassword()", ng-disabled="changePasswordForm.$invalid", translate) Change Password
            button.btn.btn-primary(ng-click="cancel()" translate) Cancel
