//nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
    .container-fluid
        .navbar-header
            button.navbar-toggle(type="button",data-toggle="collapse",data-target="#navbar")
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href=brandUrl)
                img(src=brandLogo,style="margin-top:-7px;")

        .collapse.navbar-collapse(id="navbar")
            ul.nav.navbar-nav
                ss(ng-repeat-start="subMenuItem in mainMenu")
                li(ng-if="! subMenuItem.subMenu", ui-sref-active="active")
                    a(ng-if="!!subMenuItem.sref", ui-sref="{{subMenuItem.sref}}" ng-bind="subMenuItem.name")
                    a(ng-if="!!subMenuItem.href", href="{{subMenuItem.href}}" ng-bind="subMenuItem.name")
                    a(ng-if="!!subMenuItem.onClick", ng-click="subMenuItem.onClick()" ng-bind="subMenuItem.name")
                li.root(ng-if="!!subMenuItem.subMenu")
                    a.dropdown-toggle(href="#", data-toggle="dropdown") {{subMenuItem.name}}
                        b.caret
                    ul.dropdown-menu
                        ss(ng-repeat-start="subMenuItem in subMenuItem.subMenu", )
                        li(ng-if="! subMenuItem.subMenu", ui-sref-active="active")
                            a(ng-if="!!subMenuItem.sref", ui-sref="{{subMenuItem.sref}}" ng-bind="subMenuItem.name")
                            a(ng-if="!!subMenuItem.href", href="{{subMenuItem.href}}" ng-bind="subMenuItem.name")
                            a(ng-if="!!subMenuItem.onClick", ng-click="subMenuItem.onClick()" ng-bind="subMenuItem.name")
                        li.dropdown-submenu(ng-if="!!subMenuItem.subMenu", ng-include="'subMenu.html'")
                        ss(ng-repeat-end)
                ss(ng-repeat-end)

            ul.nav.navbar-nav.navbar-right
                li.dropdown(ng-if="principal.isAuthenticated()", uib-dropdown)
                    a.dropdown-toggle(href, uib-dropdown-toggle class="minus") {{principal.getIdUser()}}
                        span.caret
                    ul.dropdown-menu(role="menu")
                        li
                            a( ui-sref="changePassword", translate) Change password
                        li
                            a( ng-click="logout()", translate) Logout
                li(ng-if="!principal.isAuthenticated()", ui-sref-active="active")
                    a( ui-sref="login") Login

div#wrap.container-fluid(ui-view='')

//nav.navbar.navbar-inverse.navbar-fixed-bottom(role="navigation")
nav.navbar.navbar-default.navbar-fixed-bottom.hidden-xs(role="navigation")
    .navbar-inner
        p.navbar-text(ng-show="version") Version:
            span(ng-bind="version")
        p.navbar-text.pull-right
            a(href="http://www.masterasp.com")
                img(src="images/logo_master.png")

