legend(translate) Login

form.form-horizontal(name="loginForm")
    div.form-group
        label.col-sm-2.control-label(for="username", translate ng-if="!loginIsEmail") User
        label.col-sm-2.control-label(for="username", translate ng-if="loginIsEmail") Email
        div.col-sm-3
            input#username.form-control(name="username", type="text", ng-model="credentials.username", required)

    div.form-group
        label.col-sm-2.control-label(for="password", translate) Password
        div.col-sm-3
            input#password.form-control(name="password", type="password", ng-model="credentials.password", required)
            a(ui-sref="rememberPassword", translate) Remember Password

    div.form-group
        div.col-sm-offset-2.col-sm-10
            button.btn.btn-primary(type="submit", ng-enter="login", ng-click="login()", ng-disabled="loginForm.$invalid", translate) Login
