legend(translate) Remeber password

form.form-horizontal(name="rememberPasswordForm")
    div.form-group
        label.col-sm-2.control-label(for="username", translate ng-if="!loginIsEmail") User
        label.col-sm-2.control-label(for="username", translate ng-if="loginIsEmail") Email
        div.col-sm-3
            input#username.form-control(name="username", type="text", ng-model="credentials.username", required)

    div.form-group
        div.col-sm-offset-2.col-sm-10
            button.btn.btn-primary(type="submit", ng-enter="rememberPassword", ng-click="rememberPassword()", ng-disabled="rememberPasswordForm.$invalid", translate) Remember Password
            button.btn.btn-primary(type="button" ng-click="cancel()" translate) Cancel
