legend(translate) Reset Password

form.form-horizontal(name="resetPasswordForm")
    div.form-group
        label.col-sm-2.control-label(for="newPassword", ng-if="!loginIsEmail" translate) User
        label.col-sm-2.control-label(for="username", translate ng-if="loginIsEmail") Email
        div.col-sm-3
            p.form-control-static {{otpInfo.idUser}}

    div.form-group
        label.col-sm-2.control-label(for="newPassword", translate) New Password
        div.col-sm-3
            input#newPassword.form-control(name="newPassword", type="password", ng-model="credentials.newPassword", required)

    div.form-group
        label.col-sm-2.control-label(for="confirmNewPassword", translate) Confirm New Password
        div.col-sm-3
            input#confirmNewPassword.form-control(name="confirmNewPassword", type="password", ng-model="credentials.confirmNewPassword", required)

    div.form-group
        div.col-sm-offset-2.col-sm-10
            button.btn.btn-primary(type="submit", ng-enter="resetPassword", ng-click="resetPassword()", ng-disabled="resetPasswordForm.$invalid", translate) Reset Password
            button.btn.btn-primary(ng-click="cancel()") Cancel
